{% extends 'bhs_app/base.html' %}

{% block content %}
<h2>Search Database</h2>
<form action="/search/" method="GET">
    {% csrf_token %}
    <!-- <p><input name="q" type="text" placeholder="Search...""></p> -->
    <p><input name="q" type="search" placeholder="Search...""><button type="submit">Search</button></p>
    
    <table>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone Number</th>
            <th>Email</th>
            <th>Address</th>
        </tr>
        {% for i in data %}
        <tr>
            <td>{{ i.customer_id }}</td>
            <td>{{ i.first_name }}</td>
            <td>{{ i.last_name }}</td>
            <td>{{ i.phone_number }}</td>
            <td>{{ i.email }}</td>
            <td>{{ i.address }}</td>
        </tr>
        {% endfor %}
    </table>
</form>
{% endblock %}