{% extends 'bhs_app/base.html' %}

{% block content %}

<h2><p> Customer Profile Page </p></h2>
<table>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Phone Number</th>
        <th>Email</th>
        <th>Address</th>
    </tr>
    <tr>
        <td> {{ data.customer_id }} </td>
        <td> {{ data.first_name }} </td>
        <td> {{ data.last_name }} </td>
        <td> {{ data.phone_number }} </td>
        <td> {{ data.email }} </td>
        <td> {{ data.address }} </td>
    </tr>
</table>

<p> customer_id: {{ customer_id }} </p>

{% endblock%}