{% extends 'bhs_app/base.html' %}

{% block content %}

<h2> Customer Profile </h2>
<table>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Phone Number</th>
        <th>Email</th>
        <th>Address</th>
    </tr>
    {% for customer in data_customer %}
    <tr>
        <td> {{ customer.customer }} </td>
        <td> {{ customer.first_name }} </td>
        <td> {{ customer.last_name }} </td>
        <td> {{ customer.phone_number }} </td>
        <td> {{ customer.email }} </td>
        <td> {{ customer.address }} </td>
    </tr>
    {% endfor %}
</table>
<h2> Vehicles</h2>
<table>
    <tr>
        <th>VIN</th>
        <th>Year</th>
        <th>Make</th>
        <th>Model</th>
        <th>Mileage</th>
    </tr>
    {% for vehicle in data_vehicle%}
    <tr>
        <td> {{ vehicle.vin}}</td>
        <td> {{ vehicle.year}}</td>
        <td> {{ vehicle.make}}</td>
        <td> {{ vehicle.model}}</td>
        <td> {{ vehicle.mileage}}</td>
    </tr>
    {% endfor %}
</table>
<p><a href="{{ 'create_new_vehicle' }}/">Add Vehicle</a></p>
<p><a href="{{ 'create_new_repair_order' }}/">Add Repair Order</a></p>
<p><a href="{{ 'create_new_comment' }}/">Add Comment</a></p>
{% endblock %}