{% extends 'bhs_app/base.html' %}

{% block content %}

<h2>{{ data_customer.first_name }} {{ data_customer.last_name }}'s Vehicle</h2>
<table>
    <tr>
        <th>Year</th>
        <th>Make</th>
        <th>Model</th>
        <th>Mileage</th>
        <th>VIN</th>
    </tr>
    <tr>
        <td>{{ data_vehicle.year}}</td>
        <td>{{ data_vehicle.make}}</td>
        <td>{{ data_vehicle.model}}</td>
        <td>{{ data_vehicle.mileage}}</td>
        <td>{{ data_vehicle.vin}}</td>
    </tr>
</table>
<h2>Repair Orders</h2>
{% if empty != True %}
    <table>
        <tr>
            <th>Date Created</th>
            <th>Repair Order Number</th>
            <th>Completed</th>
        </tr>
        {% for ro in data_vehicle_repair_orders %}
        <tr>
            <td><a href="{{ 'view_repair_order_info' }}/{{ ro.ro }}">{{ ro.date_created }}</a></td>
            <td><a href="{{ 'view_repair_order_info' }}/{{ ro.ro }}">{{ ro.ro }}</a></td>
            <td><a href="{{ 'view_repair_order_info' }}/{{ ro.ro }}">{{ ro.completed }}</a></td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <p>No data to display</p>
{% endif %}
<a href="{{ 'create_new_repair_order' }}/">Add Repair Order</a>

{% endblock %}