{% extends 'bhs_app/base.html' %}

{% block content %}

<h2>{{ data_customer.first_name }} {{ data_customer.last_name }}'s Vehicle</h2>
<table>
    <tr>
        <th>Year</th>
        <th>Make</th>
        <th>Model</th>
        <th>Mileage</th>
        <th>VIN</th>
    </tr>
    <tr>
        <td>{{ data_vehicle.year}}</td>
        <td>{{ data_vehicle.make}}</td>
        <td>{{ data_vehicle.model}}</td>
        <td>{{ data_vehicle.mileage}}</td>
        <td>{{ data_vehicle.vin}}</td>
    </tr>
</table>
<h2>Repair Orders</h2>
{% if empty != True %}
    <table>
        <tr>
            <th>Date Created</th>
            <th>Repair Order Number</th>
            <th>Completed</th>
        </tr>
        {% for ro in data_vehicle_repair_orders %}
        <tr>
            <td>{{ ro.ro }}</td>
            <td>{{ ro.customer }}</td>
            <td>{{ ro.vin }}</td>
            <td>{{ ro.date }}</td>
            <td>{{ ro.completed }}</td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <p>No repair orders for vehicle</p>
{% endif %}

{% endblock %}