{% extends 'bhs_app/base.html' %}

{% block content %}

<h2><p> Customer Profile Page </p></h2>
<table>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Phone Number</th>
        <th>Email</th>
        <th>Address</th>
    </tr>
    {% for customer in data%}
    <tr>
        <td> {{ customer.customer }} </td>
        <td> {{ customer.first_name }} </td>
        <td> {{ customer.last_name }} </td>
        <td> {{ customer.phone_number }} </td>
        <td> {{ customer.email }} </td>
        <td> {{ customer.address }} </td>
    </tr>
    {% endfor %}
</table>
<p><a href="{{ 'create_new_vehicle' }}/">Add Vehicle</a></p>
<p><a href="{{ 'create_new_repair_order' }}/">Add Repair Order</a></p>
<p><a href="{{ 'create_new_comment' }}/">Add Comment</a></p> <!--Should Add Comment be a child of RO?-->  -->
{% endblock%}